<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlanta on FX API</title>

    <style>
      body {
          background-color: #0D1E39;
          color: #fff;
          font-family: Arial, sans-serif;
          text-align: center;
          padding-top: 100px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
      }
      h1 {
          font-size: 48px;
      }
      a {
          color: #fff;
          text-decoration: none;
      }
  </style>
</head>
<body>
    <h1>Atlanta FX API</h1>
    <h2><a href ="/docs">Documentation</a></h2>
</body>
